:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#app {
  width: 960px;
  display: flex;
  justify-content: center;

  .left-panel {
    flex: 1 0 auto;
    padding-right: 40px;
  }

  .right-panel {
    flex: 0 0 300px;
  }
}

.temperature-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;

  .left {
    display: flex;
    align-items: center;

    .current-temperature {
      font-size: 64px;
      padding: 0 4px;
    }

    .unit {
      align-self: flex-start;
      padding-top: 18px;
      font-size: 24px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    font-weight: 600;

    .city {
      font-size: 32px;
    }

    .last-read-time, .condition-text {
      color: #9aa0a6;
    }
  }
}

#temperature-table {
  width: 100%;
  margin-top: 4px;
  text-align: center;
  border-collapse: collapse;
}

#temperature-table thead th {
  height: 40px;
}

#temperature-table tbody td {
  height: 36px;
  font-size: 14px;
  border-top: 1px solid #707073;;
}

